.main {
  position: relative;
  padding: 25px;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.popLeft {
  height: 100%;
  width: 30%;
}

.popRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.popRightTop {
  background-color: rgba(0, 127, 255, .3);
}

.popRightBottom {
  height: 350px;
}

